#root > footer {
  padding: 0.25rem 1rem;
  border-top: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  
  & > * {
    flex: 0 1 fit-content;
    white-space: nowrap;
  }
  @media screen and (width < 450px) {
    flex-direction: column;
    & > * {
      display: block;
      flex: 1 1 100%;
      text-align: center;
    }
  }
}
