[data-route="Home"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  .server-list {
    .server-list-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}
