article.server-card {
    min-width: 25rem;

    &:hover:not(:has(.btn-dropdown-menu:hover)) {
        cursor: pointer;
        box-shadow: 0px 0px 20px -5px light-dark(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75));
    }
    footer {
        display: flex;
        justify-content: right;
    }
}

