@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --color--red: #e90000;
  --color--orange: #ff6100;
  --color--yellow: #fff500;
  --color--green: #31d5c8;
  --color--lightblue: #33a7c8;
  --color--darkblue: #001eba;
  --color--purple: #a538c6;
  --color--lightgray: #d1dbe4;
  --color--darkgray: #646f77;
}

button {
  &.danger {
    background-color: var(--color--red);
    color: black;
  }
}

.page-heading-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btn-dropdown {
  position: relative;
  ul.btn-dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--pico-dropdown-background-color);
    border: var(--pico-border-width) solid var(--pico-dropdown-border-color);
    border-radius: var(--pico-border-radius);
    & > li {
      display: grid;
      grid-template-columns: auto;
      list-style-type: none;
      padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) var(--pico-form-element-spacing-horizontal);
      width: 100%;
      margin: 0;
      white-space: nowrap;
      background: transparent;
      border: none;
      color: var(--pico-dropdown-color);
      &:first-of-type {
        margin-top: calc(var(--pico-form-element-spacing-vertical) * 0.5);
      }
      &:hover {
        background-color: var(--pico-dropdown-hover-background-color);
      }
    }
  }

  &:focus {
    .btn-dropdown-menu {
      display: flex;
    }
  }
}
