name: Deploy
on:
  push:
    branches: main
    tags: ["v*"]
  pull_request:
    branches: main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install step
        run: "npm ci"

      - name: Lint step
        run: "npm run lint"

      - name: Build step
        run: "npm run build"

      - name: Upload to Deno Deploy
        if: startsWith(github.ref, 'refs/tags/v')
        uses: denoland/deployctl@v1
        with:
          project: "anthonypena-easy-wiremock"
          entrypoint: "./deno-deploy-router.ts"
          root: "."
